<div class="container" style="border: 3px;width: 100em;">
  <form >
    <h1>Conferência</h1>
    <div class="form-fields">
      <p>
      <mat-form-field  class="input" >
        <mat-label>Competência</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field  class="input">
        <mat-label>Nota</mat-label>
        <input  matInput >
      </mat-form-field>

      <mat-form-field  class="input" >
        <mat-label>Vencimento</mat-label>
        <input matInput>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field  class="input">
        <mat-label>Empresa</mat-label>
        <input  matInput >
      </mat-form-field>

      <mat-form-field  class="input" >
        <mat-label>Historico</mat-label>
        <input matInput>
      </mat-form-field>
      <button class="button" mat-raised-button color="primary" (click)="pesquisar()">Atualizar</button>

      <button class="button-large" mat-raised-button color="primary" (click)="pesquisar()">Transferir Movimentação</button>
    </p>


      <br>
    </div>
  </form>

  <mat-divider class="divider"></mat-divider>
  <mat-card title="Detalhes">
    <mat-card-header><h4>Detalhes</h4></mat-card-header>
    <mat-card-content>
      <table  class="table" mat-table>
        <ng-container matColumnDef="Matrícula">
          <th mat-header-cell *matHeaderCellDef>Matrícula</th>
         </ng-container>
         <ng-container matColumnDef="Colaborador">
          <th mat-header-cell *matHeaderCellDef>Colaborador</th>
         </ng-container>
         <ng-container matColumnDef="Cpf">
          <th mat-header-cell *matHeaderCellDef>Cpf</th>
         </ng-container>
         <ng-container matColumnDef="Conta Débito">
          <th mat-header-cell *matHeaderCellDef>Conta Débito</th>
         </ng-container>
         <ng-container matColumnDef="Valor">
          <th mat-header-cell *matHeaderCellDef>Valor</th>
         </ng-container>
         <ng-container matColumnDef="Histórico">
          <th mat-header-cell *matHeaderCellDef>Histórico</th>
         </ng-container>
         <ng-container matColumnDef="Parceiro">
          <th mat-header-cell *matHeaderCellDef>Parceiro</th>
         </ng-container>
         <ng-container matColumnDef="Marca">
          <th mat-header-cell *matHeaderCellDef>Marca</th>
         </ng-container>
         <ng-container matColumnDef="Ações">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="icon">search</mat-icon>
            <mat-icon class="icon">edit_square</mat-icon>
            <mat-icon class="icon">delete_forever</mat-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>

  </div>
