<button mat-button [matMenuTriggerFor]="aboveMenu">Manutenção</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item routerLink="/importarArquivo">Importações</button>
  <button mat-menu-item routerLink="/conferencia">Conferência</button>
</mat-menu>

<button mat-button routerLink="/usuario" *ngIf="isAdmininstrador" >Usuarios</button>
<button mat-button routerLink="/responsavel" >Responsáveis</button>
<button mat-button routerLink="/documentos" >Documentos</button>
<div class="spacer"></div>
